[Unit]
Description=Jetson1 Web Dashboard (tmux)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=hr_dku_001
WorkingDirectory=/home/hr_dku_001/jetson-food-ai/jetson1_monitoring
ExecStart=/usr/bin/tmux new-session -d -s jetson1_web /home/hr_dku_001/jetson-food-ai/jetson1_monitoring/run_jetson1_web_tmux.sh
ExecStop=/usr/bin/tmux kill-session -t jetson1_web

Environment="PYTHONUNBUFFERED=1"

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
